@model MedicalHistory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MedicalHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicalHistoryID" />
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                <select asp-for="PatientID" class="form-control" asp-items="ViewBag.PatientID"></select>
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MedicalHistoryVerified" /> @Html.DisplayNameFor(model => model.MedicalHistoryVerified)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MedicalHistoryReviewedThisVisit" /> @Html.DisplayNameFor(model => model.MedicalHistoryReviewedThisVisit)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ChangesStatus" class="control-label"></label>
                <input asp-for="ChangesStatus" class="form-control" />
                <span asp-validation-for="ChangesStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewDate" class="control-label"></label>
                <input asp-for="ReviewDate" class="form-control" />
                <span asp-validation-for="ReviewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseComplexity" class="control-label"></label>
                <input asp-for="CaseComplexity" class="form-control" />
                <span asp-validation-for="CaseComplexity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Allergies" /> @Html.DisplayNameFor(model => model.Allergies)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="OngoingTreatment" class="control-label"></label>
                <input asp-for="OngoingTreatment" class="form-control" />
                <span asp-validation-for="OngoingTreatment" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RecentHospitalization" /> @Html.DisplayNameFor(model => model.RecentHospitalization)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPregnant" /> @Html.DisplayNameFor(model => model.IsPregnant)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBreastfeeding" /> @Html.DisplayNameFor(model => model.IsBreastfeeding)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdated" class="control-label"></label>
                <input asp-for="LastUpdated" class="form-control" />
                <span asp-validation-for="LastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
