@model IEnumerable<MedicalHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistoryVerified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistoryReviewedThisVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangesStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseComplexity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allergies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OngoingTreatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecentHospitalization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPregnant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBreastfeeding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalHistoryVerified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalHistoryReviewedThisVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangesStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseComplexity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allergies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OngoingTreatment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecentHospitalization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPregnant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBreastfeeding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.AppointmentTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicalHistoryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicalHistoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicalHistoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
